@font-face{
    font-family: 'Carter';
    src: url(../fonts/Carter.ttf);
    }
    @font-face{
        font-family: 'julee';
        src: url(../fonts/Julee.ttf);
        }
        @font-face{
            font-family: 'caveat';
            src: url(../fonts/Caveat.ttf);
            }
            @font-face{
                font-family: 'ruthie';
                src: url(../fonts/Ruthie.ttf);
                }
                @font-face{
                    font-family: 'roboto';
                    src: url(../fonts/Roboto.ttf);
                    }
    

*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav_links{
    flex: 1;
    text-align: right;
}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkorange;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav_links ul li:hover::after {
    width: 100%;
}
.container{
    width: 100%;
    height: 75vh;
    position:absolute;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container video{

    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_box{
    position:absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background:white;
    text-align: center;
    font-size: 250px;
    font-weight: 900;
    color: black;
    font-family: 'carter',sans-serif;
    mix-blend-mode: screen;
    letter-spacing: 40px;
}
.text{
     color:white;
     font-family:'ruthie',sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    background: 
    linear-gradient(85deg,rgb(23, 110, 139),rgb(241, 185, 129),rgb(18, 219, 18));
    -webkit-background-clip:text;
     color:transparent;
}
.text-1{
     color:black;
     font-family:'ruthie',sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: -100px;
}

nav .fa{
    display: none;
   
}

.wrapper {
    max-width: 75rem;
    padding: 2rem;
    margin: 0 auto;
}




/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 12.5rem);
    gap: .5rem;
}

/* Gallery Layout */
.gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.gallery__item--2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.gallery__item--3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.gallery__item--4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}

.gallery__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.gallery__item--6 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

/* Gallery Link */
.gallery__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Gallery Link Overlay */
.gallery__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.gallery__link:hover .gallery__overlay {
    opacity: 1;
}

/* Gallery Overlay Text */
.gallery__overlay span {
    position: relative;
    line-height: 3rem;
}

.gallery__overlay span:before,
.gallery__overlay span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width .3s ease-out .2s;
}

.gallery__overlay span:before {
    top: 0;
    left: 0;
}

.gallery__overlay span:after {
    bottom: 0;
    right: 0;
}

.gallery__link:hover .gallery__overlay span:before,
.gallery__link:hover .gallery__overlay span:after {
    width: 100%;    
}


/* Gallery Image */
.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: 
        transform .5s,
        filter .5s;
}
.vdo-row{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
   flex-wrap: wrap;
   column-gap: 20px;
   margin-left: 10px;
    
}
.text-vdo{
    font-family: ruthie,sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #ff7200;
    text-shadow: 1px 1px 2px black;

}

iframe{
    
    width: 450px;
    height: 300px;
    transition: 1s;

}

iframe:hover{
    transform: scale(1.1);
}


/*place to visit */

.head {

    margin-top: 5%;
    font-family: ruthie, sans-serif;
    font-size: 90px;
    color: black;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 450px 450px;
    padding: 10px;
   background:url(../image/nepal.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    font-size: 30px;
    text-shadow: 0 1px 2px grey;

}

.box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: aliceblue;
    background-size: 100% 200%;
    transition: all.8s;
    
    transition: 1s;
    margin-top: 10%;
    margin-left: 15%;

}
.box p{
    overflow: scroll;
}
.box:hover {
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
    transform: scale(1.1);
}

.box img {
    width: 250px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;
}

.header-place{
width: 100%;
height: 40vh;
background: black;
}


/*About Us*/
#about{
    margin-top:5%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    
}

.head_1{
    font-family: ruthie,sans-serif;
    font-size: 60px;
    color:#ff7200;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px grey;
}
.heading_1{
    font-size: 30px;
    text-shadow:0 1px 2px grey;

}
.header-1{
    background: black;
}

.about_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    column-gap: 25px;
    margin-top: 50px;

}


.flip{
    height: 340px;
    width: 250px;
    position: relative;
    transition: all 1s linear;
    transform-style:preserve-3d;
    perspective: 1000px;
    
}
.box_front,.box_back{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 5px rgb(0, 0, 0);

}
.box_front{
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 2;
    backface-visibility: hidden;
    align-content: center;
    align-items: center;
}
.box_front img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.box_back{
    display: flex;
    flex-direction: column;
    background:black;
    z-index: 1;
    transform: rotateY(180deg);
    color: white;
    text-align: justify;
    padding: 1px;
}
.flip:hover {
    transform: rotateY(180deg);
}

.box_back h1{
    margin-top: 30px;
    color: white;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    

}
.box_back h2{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
   
.box_back p{
    margin-top: 50px;
    color: white;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
.team{
    font-family:caveat;
    color: #ff7200;
    font-size: 30px;
    font-weight: 400px;
    text-shadow: 0px 0px 5px black;

}


/* for footer */
#footer{
    width: 100%;
    height: 60vh;
    
}

.footerrow{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.intro{
    width: 20%;
    height: 60vh;
  margin-top: 8%;
  margin-left: 5%;
    }

    .foot{
    margin-top: 8%;
    width: 20%;
    height: 60vh;
    margin-left: 5%;
}
.foot h1{
    text-align: center;
    color: #ff7200;
}
.foot .para{
    text-align: justify;

}
.foot p{
    text-align: center;
    align-content: center;
    margin-left: 15%;
    margin-top: 20px;

}    


.social{
    padding: 20px;
    letter-spacing: 10px;
    font-size: 35px;
    align-items: center;
    transition: 3s ease-in-out;
}

.social i:hover{
    transform: scale(1.5);
    cursor: pointer;
    text-shadow: #ff7200;
}

.foot a{
    text-decoration: none;
    color: white;
}


@media(max-width:700px){
   
    nav img{
        width: 50px;
    }
    .text{
        font-size: 15px;
        margin-top: 10%;
    }

    .container video{

        position: absolute;
        top: 10%;
        width: 100%;
        height: 60%;
        object-fit: cover;}

    .text_box{
        font-size:75px;
        margin-top: 20%;
        letter-spacing: 10px;
    }
    .nav-links ul li{
        display: block;
    }

    .text-1{
    font-size: 10px;
    margin-top: 10px;
    }
    .header{
        min-height: 100vh;
    }
    .nav_links {
    position: absolute;
    background: #f44336;
    height:50vh;
    width: 210px;
    top: 0;
    right: -210px;
    text-align: left;
    z-index:2;
    transition: 1s;
    }
nav .fa{
    display: block;
    color: white;
    margin-inline:10px ;
    font-size: 15px;
    cursor: pointer;
}
.nav_links ul{
    padding: 30px;
}

.gallery__link:hover .gallery__image {
    transform: scale(1.2);
    filter: blur(2px);
}

    .wrapper {
        padding: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Gallery Layout */
    .gallery__item--1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery__item--2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .gallery__item--3 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .gallery__item--4 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
    }

    .gallery__item--5 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery__item--6 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }

    .gallery__overlay {
        font-size: 1.25rem;
    }


    .gallery {
        display: block;
    }

    .gallery__item {
        margin: .5rem;
    }

    .gallery__link {
        height: 80vw;
    }

    .gallery__overlay {
        font-size: 1rem;
    }

    .vdo-container{
            background: teal;
          
        }
    
        .vdo-row{
            
            height: auto;
            
        }
    iframe{
    
        width: 350px;
        height: 200px;
        transition: 1s;
        margin-top: 10px;
        box-shadow: 1px 1px 3px;
    }
    .text-vdo{
        
    font-family: ruthie;
    text-align: center;
    font-size: 30px;
    color: white;

    }
    

    /*Place to visit*/
    .header-place{
        height: 20vh;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container {
        background-size:100%;
        background-repeat: repeat-y;
    }

    .head_1{
        font-size:20px;
        color:black;
    }

    .flip{
        margin: 20px;
        }
    .header-1{
        background:black;
    }
    .about_row{
        margin-left: 15%;
        margin-top: -10px;
    }
    .footerrow{
        margin-top: -10px;
        }

        .foot h1{
            text-align: center;
            color: white;
            font-size: 10px;
        }
        .foot .para{
            text-align: justify;
        
        }
        .foot p{
        
        font-size: 5px;
        
        }    
        
        


    }

